{% extends "base.html" %}

{% block css %}
    {# requires "load static" inside block tags or else static files don't work #}
    {% load static %}
    <link rel="stylesheet" href="{% static "CSS/main.css" %}">
{% endblock %}

{% block title %}App Detail{% endblock %}

{% block content %}
    <div class="header-spacer"></div>

    <h3>{{ application.user_firstname }} {{ application.user_lastname }}</h3>
    <a href="{{ application.resume_attachment.url }}">{{ application.resume_attachment }}</a>

{% endblock %}