{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block css %}
    {# requires "load static" inside block tags or else static files don't work #}
    {% load static %}
    <link rel="stylesheet" href="{% static "CSS/main.css" %}">
{% endblock %}

{% block title %}App Create{% endblock %}

{% block content %}
    <div class="header-spacer"></div>

    <div class="container">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

                <form enctype="multipart/form-data" action="{% url 'application_create' pk=pk %}" method="POST">
                    {% csrf_token %}
                    <h1 class="py-5">Apply to Job: {{ job.title }}</h1>

                    {{ form|crispy }}

                    <div class="row">
                        <input type="submit" value="Submit" class="btn btn-outline-secondary col-4 mx-3">
                    </div>

                </form>

            </div>
        </div>
    </div>

{% endblock %}