{% extends "base.html" %}

{% block css %}
    {# requires "load static" inside block tags or else static files don't work #}
    {% load static %}
    <link rel="stylesheet" href="{% static "CSS/main.css" %}">
{% endblock %}

{% block title %}App Detail{% endblock %}

{% block content %}

    <div class="background"
         style="background-image: url('{% static 'images/jumbotron_background.jpg' %}');
                 background-size: cover; background-position: center top; background-attachment: fixed">
        <div class="header-spacer mb-5"></div>
        <form class="container transparent_background p-5">
            <h2>Thank you for applying!</h2>
            <p>Please print this page or bookmark it for your records.</p>

            <hr/>
            <h3>Application Details:</h3>
            <div class="pt-2">
                <h4>{{ application.user_firstname }} {{ application.user_lastname }}</h4>
            </div>
            <p><b>Email:</b> {{ application.user_email }}</p>
            <p><b>City:</b> {{ application.user_city }}</p>
            <p><b>State:</b> {{ application.user_state }}</p>

            <p><b>Cover Letter:</b></p>
            <p>{{ application.cover_letter|linebreaks }}</p>


            <p><b>Resume:</b></p>
            <p>{{ application.resume|linebreaks }}</p>

            {% if application.resume_attachment %}
                <p><b>Uploaded resume file:</b></p>
                <a href="{{ application.resume_attachment.url }}" target="_blank">
                    {{ application.resume_attachment }}
                </a>
            {% endif %}

            <hr/>
            <h3>Original job Posting:</h3>
            <h4>{{ application.job.title }}</h4>
            <p>Company: {{ application.job.company_name }}</p>
            <div class="row">
                <div class="col-3">Job Description:</div>
                <div class="col-9">{{ application.job.description|linebreaks }}</div>
            </div>

            {% if user.is_authenticated %}
                <form method="post" action="{% url 'application_detail' pk=user.pk %}">
                    <div class="">
                        <input style="" type="submit" value="Click to assign to your user profile">
                    </div>
                </form>

            {% else %}
                <div>
                    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

                    <form method="post" action="{% url 'application_detail' pk=user.pk %}">
                        {% csrf_token %}
                        <table>
                            <tr>Sign up to view your application easier next time</tr>
                            <tr>
                                <td>{{ form.username.label_tag }}</td>
                                <td>{{ form.username }}</td>
                            </tr>
                            <tr>
                                <td>{{ form.password1.label_tag }}</td>
                                <td>{{ form.password1 }}</td>
                            </tr>
                            <tr>
                                <td>{{ form.password2.label_tag }}</td>
                                <td>{{ form.password2 }}</td>
                            </tr>
                        </table>

                        <input type="submit" value="Sign Up">
                    </form>
                </div>
            {% endif %}

    </div>
    </div>

{% endblock %}