{% extends "base.html" %}

{% block css %}
    {# requires "load static" inside block tags on templates or else static files don't work #}
    {% load static %}

    <link rel="stylesheet" href="{% static "CSS/main.css" %}">

{% endblock %}

{% block title %}JobSite!{% endblock %}

{% block content %}

    <div class="header-spacer"></div>

    <main role="main">
        <div class="jumbotron jumbotron-fluid px-5 index-jumbotron"
             style="background-image: url('{% static 'images/jumbotron_background.jpg' %}'); background-size: cover; background-position: center center;">
            <div class="container mx-md-5 mx-lg-5 mx-sm-1">
                <h1 class="display-4 font-weight-bold">JobSite!</h1>
                <h2 class="lead">Welcome to Thomas Fraley's demo Talent Search site!</h2>
                <p class="">Django project running on Heroku</p>
            </div>
        </div>

        <div class="container marketing">

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Here's what I made.
                        <span class="text-muted"><a href="{% url 'job_list' %}"
                                                    class="text-muted">It'll blow your mind.</a></span></h2>
                    <p class="lead">JobSite is a fictitious company that needed a new talent acquisition page. To solve
                        their hiring woes, I made an oh-so-slick job site for the company. It features a searchable list
                        of jobs (managed by JobSite personnel) to which anyone can apply. The applicant can upload their
                        resume and cover letter in response to a job posting. JobSite personnel can then interact with
                        the applications through the Django admin site.</p>
                </div>
                <div class="col-md-5">
                    <a href="{% url 'job_list' %}">
                        <img src="{% static 'images/chill_man.jpg' %}"
                             class="index_placeholder_image"
                             alt="Chill Happy Man">
                    </a>
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">It runs on Django, using standard templates.
                        <span class="text-muted"><a
                                href="https://github.com/twfraley/JobSite"
                                class="text-muted">See for yourself.</a>
                        </span>
                    </h2>
                    <p class="lead">Feel free to browse my source <a href="https://github.com/twfraley/JobSite">here,
                    </a> or you can click the link in the section header. Included is a README that details how to get
                        the app running on your own local machine. </p>
                </div>
                <div class="col-md-5 order-md-1">
                    <a href="{% url 'job_list' %}">
                        <img src="{% static 'images/jumping_man.jpeg' %}"
                             class="index_placeholder_image"
                             alt="Happy Jumping Man">
                    </a>
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">I made this in three days.
                        <span class="text-muted"><a href="{% url 'job_list' %}"
                                                    class="text-muted">Check it out.</a></span>
                    </h2>
                    <p class="lead">With the exception of the initial spooling out of the app and some bug fixes after
                        the fact, all of the meaningful work on this app happened in just 24 hours spread over three
                        days. Heavy use of bootstrap facilitated this, of course. Styling isn't exactly my forte, but
                        I'm getting better at it. Images came from <a href="https://pexels.com">Pexels</a>, the best
                        free online photo site around. </p>
                </div>
                <div class="col-md-5">
                    <a href="{% url 'job_list' %}">
                        <img src="{% static 'images/focus_man.jpg' %}"
                             alt="Focused Working Man"
                             class="index_placeholder_image">
                    </a>
                </div>
            </div>

            <hr class="featurette-divider">

        </div>
    </main>

{% endblock %}
