{% extends "base.html" %}

{% block css %}
    {# requires "load static" inside block tags on templates or else static files don't work #}
    {% load static %}

    <link rel="stylesheet" href="{% static "CSS/main.css" %}">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

{% endblock %}

{% block title %}JobSearch!{% endblock %}

{% block content %}

    <div class="header-spacer"></div>

    <main role="main">
        <div class="jumbotron jumbotron-fluid px-5 index-jumbotron" style="background-image: url('{% static 'images/jumbotron_background.jpg' %}'); background-size: cover; background-position: center center;">
            <div class="container mx-5">
                <h1 class="display-4 font-weight-bold">JobSearch!</h1>
                <h2 class="lead">Welcome to Thomas Fraley's demo JobSearch site!</h2>
                <p class="">Django project running on Heroku</p>
            </div>
        </div>

        <div class="container marketing">

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">First awesome reason to work here.
                        <span class="text-muted">It’ll blow your mind.</span></h2>
                    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
                        euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus,
                        tellus ac cursus commodo.</p>
                </div>
                <div class="col-md-5">
                    <img src="{% static 'images/chill_man.jpg' %}" class="index_placeholder_image"
                         alt="Chill Happy Man">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">Second hip reason to work here.
                        <span class="text-muted">See for yourself.</span>
                    </h2>
                    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
                        euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus,
                        tellus ac cursus commodo.</p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img src="{% static 'images/jumping_man.jpeg' %}" class="index_placeholder_image"
                         alt="Happy Jumping Man">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">And lastly, third reason!
                        <span class="text-muted">Perfect.</span></h2>
                    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
                        euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus,
                        tellus ac cursus commodo.</p>
                </div>
                <div class="col-md-5">
                    <img src="{% static 'images/focus_man.jpg' %}" alt="Focused Working Man"
                         class="index_placeholder_image">
                </div>
            </div>

            <hr class="featurette-divider">

        </div>
    </main>
{% endblock %}
