{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block css %}
    {# requires "load static" inside block tags or else static files don't work #}
    {% load static %}
    <link rel="stylesheet" href="{% static "CSS/main.css" %}">
{% endblock %}

{% block title %}Create a Job{% endblock %}

{% block content %}
    <div class="header-spacer"></div>

    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            {% if error_message %} <p><strong>{{ error_message }}</strong></p>{% endif %}

            <form action="{% url 'job_create' %}" method="POST">
                {% csrf_token %}
                <p>Create a Job</p>

                {{ form|crispy }}

                <input type="submit" value="Submit">
            </form>
        </div>
    </div>

{% endblock %}