{% extends "base.html" %}

{% block css %}
    {# requires "load static" inside block tags or else static files don't work #}
    {% load static %}
    <link rel="stylesheet" href="{% static "CSS/main.css" %}">
{% endblock %}

{% block title %}Job Details{% endblock %}

{% block content %}

    <div class=""
         style="background-image: url('{% static 'images/jumbotron_background.jpg' %}');
                 background-size: cover; background-position: center top; background-attachment: fixed">
        <div class="header-spacer mb-5"></div>

        <div class="">
            <h1 class="py-5 text-center">{{ job.title }}</h1>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8 px-5 py-3 mb-4 border transparent_background">
                <h2 class="text-center">Company: {{ job.company_name }}</h2>
                <div class="row py-3">
                    <p>{{ job.description|linebreaks }}</p>
                </div>
            </div>
        </div>
        <div class="text-center mb-5 pb-5">
            <a href="{% url 'application_create' pk=job.pk %}" class="btn btn-outline-dark">Apply to this job</a>
        </div>
    </div>

{% endblock %}