{% extends "base.html" %}

{% block css %}
    {# requires "load static" inside block tags on templates or else static files don't work #}
    {% load static %}

    <link rel="stylesheet" href="{% static "CSS/main.css" %}">

{% endblock %}

{% block title %}Job Listing{% endblock %}

{% block content %}

    <div class="header-spacer"></div>

    <!-- Search Bar -->
    <form action="{% url 'job_search' %}" method="get">
        {% csrf_token %}
        <div class="form-group">
            <input name="q" type="text" placeholder="Search..." class="form-control">
            <input type="submit" value="Submit" class="btn btn-dark">
        </div>
    </form>

    <!-- List of Jobs -->
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10 list-group">

            {% for job in jobs %}
                <a href="{% url 'job_detail' pk=job.pk %}" class="row list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ job.title }}</h5>
                        <small>{{ job.company_name }}</small>
                    </div>
                    <p class="mb-1">{{ job.description|linebreaks }}</p>
                    <small>{{ job.state }}</small>
                </a>
            {% endfor %}

        </div>
    </div>
{% endblock %}