{% extends "base.html" %}

{% block css %}
    {# requires "load static" inside block tags on templates or else static files don't work #}
    {% load static %}

    <link rel="stylesheet" href="{% static "CSS/main.css" %}">

{% endblock %}

{% block title %}Log In{% endblock %}

{% block content %}

    <div class=""
         style="background-image: url('{% static 'images/jumbotron_background.jpg' %}');
                 background-size: cover; background-position: center top; background-attachment: fixed">
        <div class="header-spacer mb-5"></div>


        {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
        {% endif %}

    <h2>New Users <a href="{% url 'signup' %}">Sign Up Here</a></h2>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.username.label_tag }}</td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td>{{ form.password.label_tag }}</td>
                    <td>{{ form.password }}</td>
                </tr>
            </table>

            <input type="submit" value="login">
        </form>

        {# Assumes you setup the password_reset view in your URLconf #}
        <p><a href="{% url 'password_reset' %}">Lost password?</a></p>

    </div>

{% endblock %}